@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Grandstander:ital,wght@0,100..900;1,100..900&family=Pangolin&display=swap');

/* =============================================
   RESET
   ============================================= */
body {
  margin: 0;
  overflow: hidden;
  font-family: "Grandstander", cursive;
}

/* =============================================
   SALIR
   ============================================= */
#close{
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: white;
    border-radius: 100%;
    font-size: 16px;
    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.6);

    width: 35px;

    
    aspect-ratio: 1/1;
    padding: 5px;
    z-index: 10;
    text-decoration: none;
}
#close span{
    background: linear-gradient(#ec7a7a, #e01c1c);
    flex: 1;
    aspect-ratio: 1/1;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.wrapper-msg{   
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    z-index: 10;
}

.dns-message{
    
    background-color: white;
    
    border-radius: 15px;
    padding: 10px;

    position: relative;

    
}

#hide{
    position: absolute;
    /* top: 8px;
    left: 8px; */
    right: 0;
    top: 0;
    background-color: white;
    border-radius: 100%;
    font-size: 16px;
    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.6);

    width: 35px;

    
    aspect-ratio: 1/1;
    padding: 5px;
    z-index: 5;
    text-decoration: none;
}
#hide span{
    background: linear-gradient(#ec7a7a, #e01c1c);
    flex: 1;
    aspect-ratio: 1/1;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.dnsm-uno{
    background: linear-gradient(180deg, #8bd636, #7cc057);
    color: white;
    font-size: 28px;
    font-weight: 900;
    /* padding: 20px 10px; */
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    /* margin-top: 10px; */

    border-radius: 15px 15px 0px 0;
}
.dnsm-dos{
    background: repeating-linear-gradient( 
        45deg, rgba(128, 128, 128, 0.3), rgba(128, 128, 128, 0.3) 5px, #ffffff 5px, 
        #ffffff 25px);
    text-align: center;
    padding: 20px 10px;

    border-radius: 0 0 15px 15px;
    border: 2px dashed grey;
    opacity: .3;
}
.dnsm-i{
    background: #3696d6;
    width: 50%;
    padding: 20px 10px;
    border-radius: 25px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
.i-img{
    background-color: white;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);

    width: 60px;
    aspect-ratio: 1/1;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 100%;

    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.6);
}
.ii-img{
    width: 100%;
    padding: 7px;
    border-radius: 100%;
    background: linear-gradient(180deg, #3696d6, #5c6fdb);
    /* ; */
}
.ii-img img{
    display: block;
    /* background-color: red; */
    object-fit: contain;
    aspect-ratio: 1/1;
    width: 100%;
    /* border-radius: 100%; */
}

/* ir al world map */
.dns-go{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 10;

    /* background-color: purple; */
}
.dnsg-btn {
    background-color: white;
    border-radius: 25px;
    padding: 7px; /* este será el "borde" blanco visible */
    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.6);
}

.dnsg-btn span {
    background: linear-gradient(180deg, #3696d6, #5c6fdb);
    border-radius: 20px;
    padding: 10px 20px;
    display: block;
    color: white;
}
.score{
    position: fixed; 
    top: 8px; 
    right: 8px;
    background: rgba(0,0,0,0.6); 
    color: white;
    padding: 7px 14px; 
    border-radius: 20px;
    font-size: 18px; 
    font-weight: 500; 
    z-index: 999;

    text-align: center;
    display: flex;
    align-items: center;
    gap: 5px;
}

.timer {
    /* margin-top: -50px; */
    flex: 1;
    border-radius: 40px;

    position: fixed;
    display: flex;
    flex-direction: column;
    /* background-color: pink; */

    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    z-index: 10;
    width: 60%;

    /* width: 100%; */
}
.timer-wrapper{
    display: flex;
    background: linear-gradient(180deg, #8bd636, #7cc057);
    border-radius: 40px;
    position: relative;
    padding: 20px;

    justify-content: center;
    text-align: center;
    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.6);
}
.tw{
    background-color: white;
    border-radius: 100%;
    aspect-ratio: 1/1;
    width: 70px;
    position: absolute;
    padding: 7px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    
}
.tw-img{
    background: linear-gradient(180deg, #8bd636, #7cc057);
    border-radius: 100%;
    
}
.tw-img > img {
    width: 100%;
    aspect-ratio: 1/1;
    /* position: absolute; */
    object-fit: contain;
    display: block;
}
.tw-00{
    margin-top: 30px;
    text-align: center;
    color: white;
    font-size: 42px;
}